.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #111b21;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #00a884;
    --secondary-color: #202c33;
    --text-color: #e9edef;
    --message-out: #005c4b;
    --message-in: #202c33;
    --chat-background: #0b141a;
  }